*{
    color: #82af3d;
    font-family: Helvetica;
}

body{
    margin: 0;
    font-family: Pricedown;
    text-align: center;
    background-image: url(ChatGPT\ Image\ May\ 15\,\ 2025\,\ 03_23_46\ PM.png);
    padding: 100px;
}

.button{
    margin: auto;
    border: 2px solid black;
    box-shadow: 4px 6px 0px black;
    border-radius: 15px;
    padding: 5px;
    height: 50px;
    width: 75px;
    color: black;
    background-color: #48f442;
    font-weight: 750;
    font-size: medium;
}

button:hover{
    transform: translate(2px, 2px);
    box-shadow: 1px 1px;
}

button:active{
    transform: translateX(2px);
    outline-style: double;
    border: none;
    background-color: #82af3d;
}

.login__inputs{
    border: 2px solid black;
    min-height: 250px;
    border-radius: 20px;
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input{
    border: 2px solid black;
    border-radius: 5px;
    height: 20px;
    width: 200px;
    background: none;
    backdrop-filter: blur(30px);
}

#input:focus{
    outline: none;
    box-shadow: none;
}